Repository plumbblake/trevordmiller-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --findRelatedTests, imagemin-lint-staged

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write", "git add"],
  "*.js": [
    "eslint --fix",
    "prettier --write",
    "git add",
    "jest --bail --findRelatedTests"
  ]
}

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix",
    "prettier --write",
    "git add",
    "jest --bail --findRelatedTests"
  ],
  "*.{json,md}": ["prettier --write", "git add"],
  "*.{png,jpeg,jpg,gif,svg}": ["imagemin-lint-staged", "git add"]
}

Break up source code verify from URL verify
  .travis.yml
  contributing.md
  e2e/test.js
  jest.config.js
  package.json
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add lint-staged ignore
  .lintstagedrc.json
Due: prettier --write

Move jest APP_URL default into e2e tests so precommit can work
  e2e/test.js
  package.json
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Fix syntax in npm script
  package.json
Due: prettier --write

Upgrade dependencies
  package-lock.json
  package.json
Due: prettier --write

Make engines more specific to lts
  package.json
Due: prettier --write

Upgrade all dependencies to latest
  package-lock.json
Due: prettier --write

Add modjulePathIgnorePatterns to speed up jest
  jest.config.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Create fresh package-lock.json
  package-lock.json
Due: prettier --write

Remove longer timeout
  e2e/test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Set up logic for Travis CI deployments and verify-url scripts
  .travis.yml
  contributing.md
  scripts/after-deploy
  scripts/deploy-master
  scripts/deploy-pull-request
Due: prettier --write

Use new .babelrc.js format so prettier can run on it
  .babelrc
  .babelrc.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add styled-components support with next/with-styled-components example
  .babelrc.js
  package-lock.json
  package.json
  pages/_document.js
  pages/_error.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Fix styled-components setup
  .babelrc
  .babelrc.js
  .storybook/config.js
  components/Normalize/index.js
  components/Page/index.js
  pages/_document.js
  utils/globalStyles/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Convert Anchor from inline styles to styled-components
  components/Anchor/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Upgrade dependencies
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

Downgrade to stable dependencies
  package-lock.json
  package.json
Due: prettier --write

Add babel plugins env fallback
  .babelrc
Due: none

Remove React strict mode until more tools support it
  components/Page/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Fix mdx pieces
  contributing.md
  next.config.js
  package-lock.json
  package.json
  pages/blog/brittle-css/_index.md
  pages/blog/brittle-css/index.js
  pages/blog/color-scheme-building/_index.md
  pages/blog/color-scheme-building/index.js
  pages/blog/dotfiles/_index.md
  pages/blog/dotfiles/index.js
  pages/blog/end-to-end-tests/_index.md
  pages/blog/end-to-end-tests/index.js
  pages/blog/graphql-schema/_index.md
  pages/blog/graphql-schema/index.js
  pages/blog/learning-routine/_index.md
  pages/blog/learning-routine/index.js
  pages/blog/minimal-office/_index.md
  pages/blog/minimal-office/index.js
  pages/blog/raspberry-pi-button/_index.md
  pages/blog/raspberry-pi-button/index.js
  pages/blog/react-render-callback-components/_index.md
  pages/blog/react-render-callback-components/index.js
  pages/blog/rebuilding-my-website/_index.md
  pages/blog/rebuilding-my-website/index.js
  pages/blog/spaced-repetition-software/_index.md
  pages/blog/spaced-repetition-software/index.js
  pages/blog/task-list/_index.md
  pages/blog/task-list/index.js
  pages/blog/test-behavior/_index.md
  pages/blog/test-behavior/index.js
  pages/blog/wholesome-media/_index.md
  pages/blog/wholesome-media/index.js
  pages/blog/windows-on-mac/_index.md
  pages/blog/windows-on-mac/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Revert back to inline styles instead of pursuing styled-components
  .babelrc
  .storybook/config.js
  components/Anchor/index.js
  components/Normalize/index.js
  components/Page/index.js
  contributing.md
  jest.config.js
  package-lock.json
  package.json
  pages/_document.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Get deploy working again
  .babelrc
  contributing.md
  package-lock.json
  package.json
  pages/blog/brittle-css/index.js
  pages/blog/brittle-css/index.md
  pages/blog/color-scheme-building/index.js
  pages/blog/color-scheme-building/index.md
  pages/blog/dotfiles/index.js
  pages/blog/dotfiles/index.md
  pages/blog/end-to-end-tests/index.js
  pages/blog/end-to-end-tests/index.md
  pages/blog/graphql-schema/index.js
  pages/blog/graphql-schema/index.md
  pages/blog/learning-routine/index.js
  pages/blog/learning-routine/index.md
  pages/blog/minimal-office/index.js
  pages/blog/minimal-office/index.md
  pages/blog/raspberry-pi-button/index.js
  pages/blog/raspberry-pi-button/index.md
  pages/blog/react-render-callback-components/index.js
  pages/blog/react-render-callback-components/index.md
  pages/blog/rebuilding-my-website/index.js
  pages/blog/rebuilding-my-website/index.md
  pages/blog/spaced-repetition-software/index.js
  pages/blog/spaced-repetition-software/index.md
  pages/blog/task-list/index.js
  pages/blog/task-list/index.md
  pages/blog/test-behavior/index.js
  pages/blog/test-behavior/index.md
  pages/blog/wholesome-media/index.js
  pages/blog/wholesome-media/index.md
  pages/blog/windows-on-mac/index.js
  pages/blog/windows-on-mac/index.md
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Enable automatic deploys
  .travis.yml
  components/Heading/index.js
  e2e/test.js
  scripts/deploy-master
  scripts/deploy-pull-request
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Fix undefined variable
  components/Heading/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Move after deploy checks into deploy scripts
  .travis.yml
  scripts/after-deploy
  scripts/deploy-master
  scripts/deploy-pull-request
Due: none

Keep button horiztonal padding consistent
  components/Button/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Fix e2e test for joining email list
  components/Button/index.js
  components/Follow/components/JoinEmailList/index.js
  components/Follow/test.js
  e2e/test.js
  pages/blog/end-to-end-tests/index.md
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Update contributing to match latest setup
  contributing.md
Due: prettier --write

Remove unused util
  utils/globalStyles/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Use semantic html heading elements in Heading
  components/Heading/index.js
  components/Normalize/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Remove opening extra browser tabs on external links
  components/Anchor/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Fix proptype error
  components/Page/components/Navigation/index.js
  components/Page/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add e2e test for joining courses
  components/PageWithCourse/index.js
  e2e/test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Organize e2e tests
  e2e/test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add e2e test for redirecting www to non-www
  e2e/test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add lazy loading unit tests
  components/Audio/test.js
  components/Avatar/test.js
  components/Image/test.js
  components/Video/test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add e2e tests for performance
  e2e/test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Fix production URL for e2e tests
  e2e/test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add describe label with appUrl e2e tests run on
  e2e/test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests
