Repository plumbblake/trevordmiller-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --findRelatedTests

Move eslint config to dotfile
  .eslintrc.json
  package.json
Due: prettier --write

Clean up eslint config to match root eslint config
  .eslintrc.json
Due: prettier --write

Move prettier config to dotfile
  .lintstagedrc
  .prettierignore
  .prettierrc
  package.json
  static/manifest.json
Due: prettier --write

Add .json extension to json rc files
  .lintstagedrc.json
  .prettierrc.json
Due: prettier --write

Move babel config to dotfile
  .babelrc
  package.json
Due: prettier --write

Move now config to dotfile
  now.json
  package.json
Due: prettier --write

Move browser webpack ignore config to bottom since it isn't normal
  package.json
Due: prettier --write

Clarify need for deploy staging
  contributing.md
Due: prettier --write

Add upgrade npm script
  contributing.md
  package-lock.json
  package.json
Due: prettier --write

Use "npm ci" for faster CI installs
  .travis.yml
Due: none

Add bundle size check to verify script
  package-lock.json
  package.json
Due: prettier --write

Update es version to latest in linter
  .eslintrc.json
Due: prettier --write

Upgrade dependencies to latest
  package-lock.json
  package.json
Due: prettier --write

Add unused dependency check to verify script
  package.json
Due: prettier --write

Add broken link checker after deploy
  package-lock.json
  package.json
Due: prettier --write

Add image minifying to precommit hook
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

Remove index prefix from non-index.js files
  e2e/test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add storybook setup
  .storybook/config.js
  components/Anchor/stories.js
  contributing.md
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Use functions consistently
  .storybook/config.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Remove depcheck since it has a lot of issues and low activity
  package.json
Due: prettier --write

Add storybook-static to ignore files
  .gitignore
  .prettierignore
Due: none

Add eslintignore to match gitignore, prettierignore etc.
  .eslintignore
Due: none

Add continous deployment documentation
  contributing.md
Due: prettier --write

Add travis CI github app
  contributing.md
Due: prettier --write

Clean up contributing documentation
  contributing.md
Due: prettier --write

Re-format markdown files
  pages/blog/brittle-css/_index.md
  pages/blog/dotfiles/_index.md
  pages/blog/end-to-end-tests/_index.md
  pages/blog/graphql-schema/_index.md
  pages/blog/learning-routine/_index.md
  pages/blog/raspberry-pi-button/_index.md
  pages/blog/react-render-callback-components/_index.md
  pages/blog/task-list/_index.md
  pages/blog/test-behavior/_index.md
  pages/blog/windows-on-mac/_index.md
Due: prettier --write

Fix nova-vim contributing link
  pages/projects/nova/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Update feature folder setup
  .storybook/config.js
  components/Anchor/story.js
  contributing.md
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add setup for UI tests with Enzyme
  .babelrc
  components/Anchor/test.js
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Remove unused dependency and add missing dependency
  package-lock.json
  package.json
Due: prettier --write

Update dependencies to latest
  package-lock.json
  package.json
Due: prettier --write

Move e2e tests to root
  test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Remove unused dependency
  package.json
Due: prettier --write

Add full contributing information
  contributing.md
Due: prettier --write

Fix missing space
  contributing.md
Due: prettier --write

Add storybook info decorator for source code + proptypes docs
  .storybook/config.js
  components/Anchor/story.js
  components/Audio/story.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Path conditions:
  prettier --write: (any of: *.{json,md}) or (any of: *.js)
  eslint --fix: any of: *.js
  jest --bail --findRelatedTests: any of: *.js
