Repository plumbblake/trevordmiller-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --findRelatedTests, imagemin-lint-staged

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write", "git add"],
  "*.js": [
    "eslint --fix",
    "prettier --write",
    "git add",
    "jest --bail --findRelatedTests"
  ]
}

.lintstagedrc.json:

{
  "linters": {
    "*.js": [
      "eslint --fix",
      "prettier --write",
      "git add",
      "jest --bail --findRelatedTests"
    ],
    "*.{json,md}": ["prettier --write", "git add"],
    "*.{png,jpeg,jpg,gif,svg}": ["imagemin-lint-staged", "git add"]
  },
  "ignore": ["**/node_modules/**", "**/.next/**", "**/storybook-static/**"]
}

Only fail e2e tests on console warnings/errors in my own pages
  e2e/test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add individual project page to e2e tests
  e2e/test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Document missing integrations
  contributing.md
Due: prettier --write

Add e2e tests for rss feed
  e2e/test.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Exclude apple.com from broken link checker
  package.json
Due: prettier --write

Remove license
  license.md
Due: prettier --write

Remove marketing language and cost conditionals from course page template
  components/PageWithCourse/index.js
  pages/courses/index.js
  pages/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Abstract toggle component
  components/Follow/components/JoinEmailList/index.js
  components/Toggle/index.js
  components/Toggle/story.js
  components/Toggle/test.js
  pages/blog/react-render-callback-components/index.md
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add newlines
  components/Follow/test.js
  components/Toggle/test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Replace summary/details with new Accordian component
  components/Accordian/index.js
  components/Accordian/story.js
  components/Accordian/test.js
  components/Toggle/test.js
  pages/projects/nova/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add healthy-technology post
  pages/blog/healthy-technology/index.js
  pages/blog/healthy-technology/index.md
  pages/blog/index.js
  static/devices.jpg
  static/phone-home-screen.png
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests, imagemin-lint-staged

Polish healthy-technology post styles
  components/Quote/index.js
  components/Quote/story.js
  pages/blog/healthy-technology/index.md
  utils/markdownMap/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Fix jest console warning hook
  jest.setup.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Use correct name of The Church of Jesus Christ of Latter-day Saints
  pages/about/index.js
  pages/blog/learning-routine/index.md
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Remove unused accounts
  components/Follow/components/Accounts/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Update config to prepare for upgrading now + next
  .eslintignore
  .gitignore
  .lintstagedrc.json
  .prettierignore
  jest.config.js
  now.json
  package.json
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Upgrade now
  package-lock.json
  package.json
Due: prettier --write

Upgrade to Next 7 static
  .babelrc
  .eslintrc.json
  .huskyrc.json
  components/Follow/components/Accounts/index.js
  components/Page/index.js
  components/Video/index.js
  e2e/test.js
  package-lock.json
  package.json
  pages/blog/feed/index.js
  pages/blog/graphql-schema/index.md
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests
