Repository plumbblake/trevordmiller-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --bail --findRelatedTests, imagemin-lint-staged

.lintstagedrc:

{
  "*.{json,md}": ["prettier --write", "git add"],
  "*.js": [
    "eslint --fix",
    "prettier --write",
    "git add",
    "jest --bail --findRelatedTests"
  ]
}

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix",
    "prettier --write",
    "git add",
    "jest --bail --findRelatedTests"
  ],
  "*.{json,md}": ["prettier --write", "git add"],
  "*.{png,jpeg,jpg,gif,svg}": ["imagemin-lint-staged", "git add"]
}

Add global storybook options
  .storybook/addons.js
  .storybook/config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Clarify storybook config sections
  .storybook/config.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Clean up integrations documentation
  contributing.md
Due: prettier --write

Clean up page level styles for use with both app and storybook
  .storybook/config.js
  components/Normalize/index.js
  components/Page/components/CircuitBoard/index.js
  components/Page/index.js
  components/Page/utils/novaCodeHighlighting.js
  components/Page/utils/styleReset.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Clean up staging command with staging checks before prod alias
  contributing.md
  package.json
Due: prettier --write

Exclude proxy broken links
  package.json
Due: prettier --write

Fix missing "px" on font-size
  components/Normalize/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add automatic lazy loading to media components
  components/Audio/index.js
  components/Image/index.js
  components/Video/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Format .xml indentation like other files
  static/browserconfig.xml
Due: none

Use consistent feature folders
  components/Icon/utils/icons/index.js
  components/Page/utils/analytics/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Remove _ from page markdown files
  contributing.md
  pages/blog/brittle-css/index.js
  pages/blog/brittle-css/index.md
  pages/blog/color-scheme-building/index.js
  pages/blog/color-scheme-building/index.md
  pages/blog/dotfiles/index.js
  pages/blog/dotfiles/index.md
  pages/blog/end-to-end-tests/index.js
  pages/blog/end-to-end-tests/index.md
  pages/blog/graphql-schema/index.js
  pages/blog/graphql-schema/index.md
  pages/blog/learning-routine/index.js
  pages/blog/learning-routine/index.md
  pages/blog/minimal-office/index.js
  pages/blog/minimal-office/index.md
  pages/blog/raspberry-pi-button/index.js
  pages/blog/raspberry-pi-button/index.md
  pages/blog/react-render-callback-components/index.js
  pages/blog/react-render-callback-components/index.md
  pages/blog/rebuilding-my-website/index.js
  pages/blog/rebuilding-my-website/index.md
  pages/blog/spaced-repetition-software/index.js
  pages/blog/spaced-repetition-software/index.md
  pages/blog/task-list/index.js
  pages/blog/task-list/index.md
  pages/blog/test-behavior/index.js
  pages/blog/test-behavior/index.md
  pages/blog/wholesome-media/index.js
  pages/blog/wholesome-media/index.md
  pages/blog/windows-on-mac/index.js
  pages/blog/windows-on-mac/index.md
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Remove unused pieces from <Image>
  components/Image/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add stories for Anchor => Icon
  components/Anchor/story.js
  components/Avatar/index.js
  components/Avatar/story.js
  components/Button/story.js
  components/Follow/story.js
  components/Heading/index.js
  components/Heading/story.js
  components/Icon/index.js
  components/Icon/story.js
  components/Icon/utils/icons/index.js
  components/Image/index.js
  components/PageWithCourse/index.js
  pages/about/index.js
  pages/resume/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Clean up stories generated from data
  components/Heading/story.js
  components/Icon/story.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add more stories
  components/Anchor/index.js
  components/Anchor/story.js
  components/Anchor/test.js
  components/Audio/story.js
  components/Button/story.js
  components/Follow/index.js
  components/Heading/story.js
  components/Image/story.js
  components/InlineCode/story.js
  components/Label/story.js
  components/List/story.js
  components/ListItem/story.js
  components/Page/components/Main/components/Header/index.js
  components/PreformattedText/index.js
  components/Well/index.js
  components/Well/story.js
  pages/projects/nova/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Update contributing.md
  contributing.md
Due: prettier --write

Add styling item
  contributing.md
Due: prettier --write

Remove note for types from tech list
  contributing.md
Due: prettier --write

Rename storybook to match website
  .storybook/config.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add max-width around image story
  components/Image/story.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add more stories
  .storybook/config.js
  components/Anchor/story.js
  components/Page/story.js
  components/Paragraph/story.js
  components/PreformattedText/story.js
  components/Teaser/index.js
  components/Teaser/story.js
  components/Video/story.js
  pages/courses/index.js
  static/real-world-git-course-preview-thumbnail.png
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests, imagemin-lint-staged

Reuse /static with storybook files
  components/Audio/story.js
  components/Avatar/story.js
  components/Image/story.js
  components/Video/story.js
  package.json
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Clarify langage
  pages/blog/end-to-end-tests/index.md
  pages/courses/index.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Use consistent test syntax
  components/Anchor/test.js
  components/Audio/story.js
  components/Video/story.js
  test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add critical unit tests
  components/Anchor/test.js
  components/Follow/components/JoinEmailList/index.js
  components/Follow/test.js
  components/List/test.js
  components/Teaser/index.js
  components/Teaser/story.js
  components/Teaser/test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Fail tests on any console warnings/errors
  jest.setup.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add puppeteer
  components/Button/index.js
  components/Follow/components/JoinEmailList/index.js
  package-lock.json
  package.json
  pages/blog/end-to-end-tests/index.md
  test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add Zeit CDN to documentation
  contributing.md
Due: prettier --write

Upgrade dependencies
  package-lock.json
  package.json
Due: prettier --write

Require minimum node and npm versions
  package.json
Due: prettier --write

Update engines
  package.json
Due: prettier --write

Remove command now used by travis automatically
  .travis.yml
Due: none

Don't try to close browser when it doesn't exist
  test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Add chrome to travis CI
  .travis.yml
Due: none

Add sudo required
  .travis.yml
Due: none

Use URL shell variable for url verification, default to localhost:3000
  package.json
  test.js
Due: prettier --write, eslint --fix, jest --bail --findRelatedTests

Automate release process
  .travis.yml
Due: none

Update contributing.md to match latest automated releasing
  contributing.md
Due: prettier --write

Remove useless comment
  .travis.yml
Due: none

Define URL shell variable
  package.json
Due: prettier --write
